/**/
@font-face {/*change font source to .otf file in assests folder so that font renders when uploaded to server*/
  font-family: JaapokkiRegular;
  src: url("Jaapokki-Regular.otf");
 }

body {/*define typeface for body text*/
  font-family: "Quicksand", Helvetica, sans-serif;
 }

h1 {/*styling for main titlte-centered, 60px font and some letter spacing*/
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  letter-spacing: 10px;
  font-family: 'JaapokkiRegular', Helvetica, sans-serif;
  margin-bottom: 0;
}

#subtitle {/*styling for subtitle, slight bottom margin*/
  margin-top: 0;
  margin-bottom: 2%;
  text-align: center;
  letter-spacing: 1.3em;
}

.menuLabel {/*label for collapsable mobile menu*/
    display: none;
}

.container {/*container for site*/
  margin-left: 5%;
  margin-right: 5%;
}

nav {/*center navigation*/
  text-align: center;
  //float: left;
  margin-bottom: 4%;
}

.menu {/*class for navigation items*/
  //background-color: #1e90ff;/*testing purposes only*/
  display: inline;
  margin-left: 1%;
  //width: 52%;
  margin-right: 1%;
  padding: 10px;
  font-size: 1.5em;
  line-height: 50px;
  color: #000000;
  transition: background-color 0.2s;/*change background color gradually when user hovers over*/
  cursor: pointer;/*make cursor a pointer icon*/
}

.content {/*aligning main content*/
  margin-left: 30%;
  width: 50%;
  font-weight: 400;
}


div.menu:hover {
  //background-color: #82bce6;
  background-color: #d2eaf2;
}

footer {
  text-align: center;
  //position: absolute;

  margin-top: 20%;
  font-size: 0.9em;
}

/*MEDIA QUERY FOR CORRECTIVE ALIGNMENT*/
@media screen and (min-width: 801px) {
  nav {
    display: inherit !important;
  }
}

/*MEDIA QUERY FOR MOBILE DEVICES*/
@media screen and (max-width: 800px) {
  h1 {
    margin-top: 0;
    text-align: left;
    font-size: 2.0em;
    float: left;
    margin-bottom: 5%;/*adds breathing room between header and main content*/
    width: 50%;
  }

  #subtitle {
    display: none;/*trying to figure this out; keeps throwing things off*/
    width: 20%;
    text-align: left;
    clear: left;
    letter-spacing: 0.5em;
  }

  /*class for menu icon area in mobile view*/
  .menuIcon {
    float: right;
    display: inline-block;
    cursor: pointer;
  }

  .menuLabel {/*label for collapsable mobile menu*/
    display: inherit;
  }
   /*creating the three bars which make up the menu icon*/
  .bar1, .bar2, .bar3 {
    width: 40px;
    height: 2px;
    background-color: #333;
    margin: 10px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-10px, 7px) ;
    transform: rotate(-45deg) translate(-10px, 7px) ;
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  nav {
    display: none;
    position: relative;/*get rid of sticky layout, don't need it in mobile view*/
    clear:left;
    width: 100%;
    background-color: #f5f5f5;
    margin-bottom: 10%;
    //border-radius: 0.5em;
  }

  .menu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .content {
    clear: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    font-size: 1.0em;
  }

  div.menu {
    transition: background 0.2s;
  }

  div.menu:hover {
    //background-color: #dfdfdf;
    background-color: #d2eaf2;
    font-size: 1.5em;
    //border-radius: 0.5em;
  }

  div.menu:active {
    //background-color: #b2ebff;
  }
} /*END OF MOBILE QUERY*/
